In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
df=pd.read_excel('Emp_Records.xlsx')

In [7]:
df

      Age  Weight  Experience  Salary
0   36.36      60       13.68  168251
1   47.02      60        9.01   51063
2   54.15      68        0.98   50155
3   39.67      51       18.30  180294
4   40.31      58        4.01  117642
..    ...     ...         ...     ...
95  22.82      89        1.05  129774
96  32.61      77        5.93  156194
97  52.66      60       28.53   95673
98  29.60      57        6.99   51015
99  38.38      55        2.26   93650

[100 rows x 4 columns]

In [8]:
x=df.drop('Salary',axis=1)

In [9]:
y=df['Salary']

In [10]:
linear=LinearRegression()

In [11]:
linear.fit(x,y)

LinearRegression()

In [12]:
import pickle

In [13]:
file=open('salmodel.pkl','wb')
pickle.dump(linear,file)
file.close()

In [14]:
col_list=x.columns
col_list

Index(['Age', 'Weight', 'Experience'], dtype='object')

In [15]:
file1=open('column_list.pkl','wb')
pickle.dump(col_list,file1)
file1.close()